
matplotlib
requests
pytest-html
codecov
flake8
black
isort
# PyTorch and related libraries with CUDA support
numpy=1.26.1
torch==2.2.0+cu121
opencv-python-headless
setuptools
wheel
requests
pytest
pytest-benchmark
celux-cuda
# Use PyTorch's stable wheel index for CUDA-enabled packages
-f https://download.pytorch.org/whl/torch_stable.html
