
matplotlib
requests
pytest-html
codecov
flake8
black
isort
# PyTorch and related libraries with CUDA support
torch==2.2.0+cu121121

numpy
opencv-python-headless
setuptools
wheel
requests
pytest
pytest-benchmark

# Use PyTorch's stable wheel index for CUDA-enabled packages
-f https://download.pytorch.org/whl/torch_stable.html
